{
  "parser": "babel-eslint",
  "env" : {
    "browser" : true
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": 0,
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/no-unused-state" : "off",
    "react/destructuring-assignment" : "off",
    "jsx-a11y/label-has-for" : "off"
  },
  "extends": "airbnb"
}